<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar Novedad</h4>
            <h1></h1>
            <form method="post" action="/admin/novedades/modificar">
            <input type="hidden" value="{{novedad.id}}" name="id">
            <div class="form-group">
                <input type="text" class="form-control" value="{{novedad.titulo}}" placeholder="Titulo" name="titulo">
            </div>
            <h1></h1>
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo">{{novedad.subtitulo}}</textarea>
            </div>
            <h1></h1>
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo">{{novedad.cuerpo}}</textarea>
            </div>
            <h1></h1>
            <div class="form-group">
                <p>
                    <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                </p>
                <p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                </p>
            </div>
            <h2></h2>
                     <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
        </div>
    </div>
      {{#if error}}
    <h5>{{message}}</h5>
      {{/if}}
</div>